



  <section class="container">
    <div class="row">
      <div class="col-lg-12">

        <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="1000"
        min="1"
        max="100000"></mat-slider>

        https://www.freakyjolly.com/expand-collapse-single-or-multiple-rows-in-angular-98-material-table-multiple-single/#.X_1XdugzaUk

      </div>
    </div>
    <div class="row">
      <div class="col-lg-1" style="text-align: right;">
        <div class="form-group">
          <label for="monthselect" class="required">Month</label>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="form-group">
          <select class="form-control" id="monthselect" [(ngModel)]="dataMonth"  >
            <option value="0">--กรุณาเลือก--</option>
            <option [ngValue]="mont.id" *ngFor="let mont of months">{{mont.id}} - {{mont.name}}</option>
          </select>
        </div>
      </div>

      <div class="col-lg-3">
        <button type="button" class="btn btn-primary" (click)="addMonthData()" [disabled]="!months" >add col</button>
      </div>
      <div class="col-lg-6">

      </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

        </div>
    </div>
    <h3>Dynamic column header</h3>
    <div class="row">
      <div class="col-lg-12">
        <mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort class="mat-elevation-z8">
          <ng-container *ngFor="let column of tableColumns" [matColumnDef]="column" >
            <mat-header-cell *matHeaderCellDef>{{column}}</mat-header-cell>
            <mat-cell *matCellDef="let object">{{object[column]}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>

          <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>

        </mat-table>

      </div>
    </div>
    <hr/>

    <h3>Insert HTML script</h3>
    <div class="row">
      <div class="col-lg-12">
        <table class="table table-bordered" id="dynamicTable">
          <thead class="thead-dark">
            <th scope="col">#</th>
            <th>id</th>
            <th>name</th>
            <th>age</th>
            <th>address</th>
          </thead>
          <tbody [innerHTML]="safeTbody">

          </tbody>
        </table>

        </div>

    </div>
    <script>
      function safeFnc(){
        console.log('is child');
      }
    </script>
    <hr/>

    <h3>Multiple Template Row , Material Table</h3>
    <div class="row">
      <div class="col-lg-12">
      <div class="mat-elevation-z8">
        <table mat-table
             [dataSource]="dataSource2" multiTemplateDataRows
             class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}}<div class="shortcode-col col-xs-12"></div> </td>
        </ng-container>
        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail"
                 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="example-element-diagram">
                <div class="example-element-position"> {{element.position}} </div>
                <div class="example-element-symbol"> {{element.symbol}} </div>
                <div class="example-element-name"> {{element.name}} </div>
                <div class="example-element-weight"> {{element.weight}} </div>
              </div>
              <div class="example-element-description">
                {{element.description}}
                <span class="example-element-description-attribution"> -- Wikipedia </span>
              </div>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>

    </div>

</section>



  <!-- <div class="text-left">
    <a mat-raised-button (click)="toggleTableRows()" color="primary">Toggle Rows</a>
  </div> -->

  <!-- <mat-table [dataSource]="dataStudentsList" multiTemplateDataRows class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> age </th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>


    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> address </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>


    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> actions </th>
      <td mat-cell *matCellDef="let element">
        <a mat-button  (click)="element.isExpanded = !element.isExpanded">View
          Subjects</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedStudentsColumnsList.length">

        <div class="row student-element-detail" [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'">
          <mat-list>
            <div mat-subheader>Subjects of {{element.name}}</div>
            <mat-list-item *ngFor="let subject of element.subjects">
              <div mat-line>{{subject.name}}</div>
              <div mat-line> {{subject.type}} | Grade: {{subject.grade}}</div>
            </mat-list-item>
          </mat-list>
        </div>

      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedStudentsColumnsList;sticky: true"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedStudentsColumnsList;" class="student-element-row"
      [class.student-expanded-row]="element.isExpanded"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="student-detail-row"></tr>

  </mat-table> -->

