



  <section class="container">
    <div class="row">
      <div class="col-lg-12">

        <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="1000"
        min="1"
        max="100000"></mat-slider>

        https://www.freakyjolly.com/expand-collapse-single-or-multiple-rows-in-angular-98-material-table-multiple-single/#.X_1XdugzaUk

      </div>
    </div>
    <div class="row">
      <div class="col-lg-1" style="text-align: right;">
        <div class="form-group">
          <label for="monthselect" class="required">Month</label>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="form-group">
          <select class="form-control" id="monthselect" [(ngModel)]="dataMonth"  >
            <option value="0">--กรุณาเลือก--</option>
            <option [ngValue]="mont.id" *ngFor="let mont of months">{{mont.id}} - {{mont.name}}</option>
          </select>
        </div>
      </div>

      <div class="col-lg-3">
        <button type="button" class="btn btn-primary" (click)="addMonthData()" [disabled]="!months" >add col</button>
      </div>
      <div class="col-lg-6">
        
      </div>
    </div>
    <div class="text-center">
      
    </div>
    <div class="row">
      <div class="col-lg-12"> 
        <mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort class="mat-elevation-z8">
          <ng-container *ngFor="let column of tableColumns" [matColumnDef]="column" >
            <mat-header-cell *matHeaderCellDef>{{column}}</mat-header-cell>
            <mat-cell *matCellDef="let object">{{object[column]}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
          
          <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>

        </mat-table>

      </div>
    </div>
  </section>
  